.signin__page {
    background-color: var(--dominant);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.signup__page {
    background-color: var(--dominant);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.auth__header {
    color: var(--contrast);
}

.auth__form {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.562em;
    z-index: 3px;
    background-color: var(--contrast);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 40px;
}

.auth__form--sign-in{
    height: 80%;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-radius: 5px;
}

.auth__info-section {
    margin-top: 30px;
}

.auth__select {
    background-color: var(--main);
    border: none;
    margin-bottom: 0;
    width: 100%;
    font-size: 1.2em;
}

.auth__info-section__email,
.auth__info-section__password {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.auth__info-section__input {
    width: 100%;
    height: 100%;
    color: var(--dominant);
    background-color: var(--contrast);
    padding-top: 20px;
    border: none;
    outline: none;
    font-size: 1.125em;
}
.auth__info-section__label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid var(--dominant);
}

.auth__info-section__label::after{
content: "";
position: absolute;
left: 0px;
bottom: -1px;
height: 100%;
width: 100%;
border-bottom: 3px solid var(--main);
transform: translateX(-100%);
transition: all 0.3s ease;
}

.auth__info-section__content {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    color: var(--dominant);
}

.auth__info-section__input:focus + .auth__info-section__label .auth__info-section__content,
.auth__info-section__input:valid + .auth__info-section__label .auth__info-section__content {
    transform: translateY(-155%);
    font-size: 14px;
    color: var(--main);
}

.auth__info-section__input:hover + .auth__info-section__label::after,
.auth__info-section__input:hover + .auth__info-section__label::after {
    transform: translateX(0%);
}

.auth__button {
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    color: var(--dominant);
    background-color: var(--main);
    font-size: 1.562em;
    font-weight: 800;
    outline: none;
    font-family: "Montserrat";
}



.switch__button {
    text-decoration: underline var(--main);
    text-align: center;
    margin-bottom: 30px;
}

.switch__button p {
    color: var(--dominant);
}

@media (max-width: 480px){

    .auth__form {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    .auth__info-section__input:focus + .auth__info-section__label::after,
    .auth__info-section__input:valid + .auth__info-section__label::after{
    display: none;
    }
}