body {
    background-color: var(--contrast);
}

.welcome {
    margin-top: 150px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;

    background-color: var(--dominant);
}

.welcome__section {
    margin: 30px;
    color: var(--contrast);
}

.welcome__section--first{
    margin-top: 214px;
}

.welcome__section--last {
    margin-bottom: 50px;
}

.welcome__section__title {
    line-height: 38px;
}

.welcome__section_desc {
    margin-top: 24px;
}

.about-us {
    margin-bottom: 95px;

    color: var(--main);

    font-weight: 800;
    letter-spacing: 1.2px;
    text-align: center;
}