body {
    background-color: var(--contrast);
}

.brand {
    color: var(--dominant);
    margin: 30px;
}

.welcome {
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

    border-radius: 20px;

    background-color: var(--dominant);
}

.welcome__section {
    margin: 30px;
    color: var(--contrast);
}



.welcome__section--last {
    margin-bottom: 50px;
}

.welcome__section__title {
    line-height: 38px;
}

.welcome__section_desc {
    margin-top: 24px;
}

.about-us {
    margin-bottom: 95px;

    color: var(--main);

    font-weight: 800;
    letter-spacing: 1.2px;
    text-align: center;
}

.welcome__loving{
    width: 260px;
    height: 195px;
    background-image: var(--loving);
    background-position: center;
    background-size: cover;
    margin: 20px auto;
}

.welcome__ballet {
    width: 260px;
    height: 195px;
    background-image: var(--ballet);
    background-position: center;
    background-size: cover;
    margin: -10px auto 20px auto;
}