@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited{
  color: inherit;
}

/*====================================*/
/*               COLORS               */
/*====================================*/

@media (prefers-color-scheme: light) {
  :root {
    --main: #F09325;
    --main--light: #F0BF84;
    --dominant: #F7F7F7;
    --dominant--trans: rgba(247, 247, 247, 30%);
    --contrast: #0E0E0E;
    --loving: url('https://res.cloudinary.com/andysv/image/upload/v1593558072/LovingDoodle_vie7uv.png');
    --ballet: url('https://res.cloudinary.com/andysv/image/upload/v1593558072/BalletDoodle_reeymi.png');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main: #F09325;
    --main--light: #F0BF84;
    --dominant: #0E0E0E;
    --dominant--trans: rgba(14, 14, 14, 30%);
    --contrast: #F7F7F7;
    --loving: url('https://res.cloudinary.com/andysv/image/upload/v1593558093/LovingDoodle_lk6zcc.png');
    --ballet: url('https://res.cloudinary.com/andysv/image/upload/v1593558093/BalletDoodle_bi5noo.png');
  }
}

:root {
  --width: 30px;
  --height: 30px;
  --bounce_height: 60px;

  
}

/*====================================*/
/*             TYPOGRAPHY             */
/*====================================*/

h1 {
  font-size: 4em;
  font-weight: 800;
}

h2 {
  font-size: 2.5em;
  font-weight: 800;
}

h3 {
  font-size: 2.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.875em;
  font-weight: 800;
}

h5 {
  font-size: 1.875em;
  font-weight: 400;
}

h6 {
  font-size: 1.5625em;
  font-weight: 400;
}

/**/

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.text {
  color: var(--main);
  margin-left: 5px;
}

.bounceball {
  position: relative;
  height: 37px;
  width: var(--width);
  margin-right: 10px
  
}

.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  background-color: var(--main);
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
  0% {
    top: var(--bounce_height);
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: var(--height);
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}